<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8">
		<meta name="robots" content="all">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=5">
		<meta name="format-detection" content="telephone=no">
		<meta name="description" content="With Mina, your story is never lost.">
		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:site" content="@themina_sa">
		<meta name="twitter:title" content="Mina - Tracking progress. Shaping legacies.">
		<meta name="twitter:description" content="With Mina, your story is never lost.">
		<meta property="og:type" content="website">
		<meta property="og:title" content="Mina - Tracking progress. Shaping legacies.">
		<meta property="og:description" content="With Mina, your story is never lost.">
		<meta property="og:image:width" content="1200">
		<meta property="og:image:height" content="630">
		<meta property="og:image" content="../images/og-image.png">
		<meta name="theme-color" content="#FFFFFF">
		<meta name="msapplication-TileColor" content="#000000">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="/css/app.css">
		<link rel="stylesheet" type="text/css" href="/css/lang_en.css">
		<title>Mina - Tracking progress. Shaping legacies.</title>
	</head>

	<body>

		{% include "_templates/media.html" %}

		{% include "_templates/cases.html" %}

		{% include "_templates/header.html" %}

		{% include "_templates/loader.html" %}

		{% include "_templates/circle.html" %}

		{% include "_templates/burger.html" %}

		<div id="smooth-wrapper" style="visibility: hidden;">

			<div id="smooth-content">

				<main>

					{# Intro Start #}
					<section id="section-intro">

						<div class="section-intro-wrap tribble_height x_padding basic_pin_wrap" id="intro">

							<div class="section-intro-pin full_page">

								<div class="section-intro-container full_page inner_padding f a-e basic_pin">

									<div class="sides_set f a-e s-b">

										<div class="title_set">
											<h1 class="_hide">With Mina, your <br>story is never lost</h1>
											<h1 class="_show">Tracking progress. <br>Shaping legacies.</h1>
										</div>

										<div class="scroll_button f a-c j-c pointer _fadeOut" id="start">
											<i class="full_bg magnet" data-dist="1.5"></i>
											<svg xmlns="http://www.w3.org/2000/svg" width="25" height="15" fill="none" viewBox="0 0 25 15"><path fill="#fff" d="M12.43 10.094 3.133.798a1.35 1.35 0 0 0-.96-.397c-.365 0-.706.141-.962.397l-.814.815a1.35 1.35 0 0 0-.397.96c0 .365.141.706.397.962l11.069 11.069c.256.256.599.397.964.396.366.001.708-.14.965-.396L24.453 3.545c.256-.255.397-.597.397-.961s-.141-.705-.398-.961l-.814-.815a1.36 1.36 0 0 0-1.922 0z"/><path stroke="#fff" stroke-opacity=".2" d="M.5 2.574a.85.85 0 0 1 .25-.607l.815-.816a.85.85 0 0 1 .608-.25c.232 0 .446.09.606.25h.001l9.296 9.297.354.354 9.64-9.64a.86.86 0 0 1 1.215 0l.814.815a.85.85 0 0 1 .25.607.85.85 0 0 1-.25.607L13.04 14.25a.85.85 0 0 1-.61.25h-.003a.85.85 0 0 1-.609-.25L.75 3.18a.85.85 0 0 1-.25-.606Z"/></svg>
										</div>

										<div class="title_text f f-c a-c j-c _fadeIn">
											<p>In every great civilisation, progress has left its mark – towering structures, sprawling cities, and engineering marvels that define their era. But what if we could go beyond the monuments?</p>
											<div class="more_wrap">
												<div class="more_wrap_inner f f-c">
													<p>What if history had left us not just Hegra, but the story of how it was built – the vision, ambition, and ingenuity behind it? This is what Mina makes possible .We don’t just document construction – we preserve today’s progress to inspire the future. As Saudi Arabia transforms, we ensure that its achievements are not just seen but understood–captured with precision, preserved with purpose, and told with meaning.</p>

													<p>Through cutting-edge technology, automation, storytelling, and artistic vision, we don’t just trackprogress – we give it a voice. We turn construction sites into narratives, milestones into legacies, and steel and concrete into living records that will endure long after the projects themselves arecomplete. Ours is a mission of both trust and inspiration. For decision-makers, we provide an accurate, intelligent record, reliable, meticulous, and built on the foundation of technological excellence.</p>

													<p>For future generations, we create more than data points; we craft the story of a nation rising, shaping, and defining its own future. What is built today should never be forgotten. The journey, the innovation, and the people behind it deserve to be remembered, not just as structures, but as a story worth telling. </p>

													<p><strong>With Mina, that story is never lost.</strong></p>
												</div>
											</div>
											<div class="more_button f a-e s-b">
												<p>Read more about our manifesto</p>
												<svg xmlns="http://www.w3.org/2000/svg" width="8" height="21" fill="none" viewBox="0 0 8 21"><path fill="currentColor" d="M3.651 20.354a.5.5 0 0 0 .708 0l3.18-3.183a.5.5 0 1 0-.707-.707l-2.827 2.829-2.83-2.828a.5.5 0 1 0-.706.707zM4 0h-.5l.005 20h1L4.5 0z"/></svg>
											</div>

										</div>

									</div>

								</div>

							</div>
							
						</div>

					</section>
					{# Intro End #}

					{# Services Start #}
					<section data-end="0.16" id="section-services-intro" data-circle='["STORYTELLING", "AERIAL SHOOTING", "SATELLITE IMAGING", "360 & VR"]'>

						<div class="section-services-wrap double_height x_padding basic_pin_wrap">

							<div class="section-services-pin full_page basic_pin">

								<div class="section-services-container full_page inner_padding f a-e">

									<div class="sides_set f a-e s-b">

										<div class="title_set _splitWrap">
											<h1 class="_splitWords">Documenting <br>long-lasting legacies</h1>
										</div>
										
									</div>

								</div>

							</div>
							
						</div>

					</section>
					{# Services End #}

					{# TIMELAPSE Start #}
					<section data-end="0.20" id="section-services" data-circle='["Eye of Change", "Track progress", "“Solar Powered”", "4K - 8K resolution"]'>

						<div class="section-service-wrap x_padding" data-frames="/images/srv_a/" data-count="5">

							<div class="section-service-pin full_page">

								<div class="section-service-container full_page inner_padding f a-e">

									<div class="canvas_wrap">
										<canvas></canvas>
									</div>

									<div class="sides_set f a-e s-b">

										<div class="title_set _splitWrap">
											<h1 class="_splitWords">FIXED <br>TIMELAPSE <br>CAMERAS</h1>
										</div>

										<div class="title_text _splitWrap">
											<p class="_splitLines">This service utilizes advanced technology to document assets through timelapse techniques, enabling authorities to effortlessly track progress and compare project phases. All insights area accessible through the “Eye of Change” Portal, a centralized platform for seamless project monitoring and analysis.</p>
										</div>

									</div>

								</div>

							</div>
							
						</div>

					</section>
					{# TIMELAPSE End #}

					{# SATELLITE Start #}
					<section data-end="0.21" data-circle='["High quality", "TIF & JPEG", "Large scale", "Satellite technology"]'>

						<div class="section-service-wrap x_padding" data-frames="/images/srv_b/" data-count="7">

							<div class="section-service-pin full_page">

								<div class="section-service-container full_page inner_padding f a-e">

									<div class="canvas_wrap">
										<canvas></canvas>
									</div>

									<div class="sides_set f a-e s-b">

										<div class="title_set _splitWrap">
											<h1 class="_splitWords">SATELLITE <br>IMAGING</h1>
										</div>

										<div class="title_text _splitWrap">
											<p class="_splitLines">Our Satellite Imaging leverages advanced satellite technology to capture, process, and analyze high-resolution images from space. This service offers a powerful advantage: the ability to document vast areas quickly, providing a comprehensive view of development on a large scale.</p>
										</div>

									</div>

								</div>

							</div>
							
						</div>

					</section>
					{# SATELLITE End #}

					{# GROUND SHOOTING Start #}
					<section data-end="0.22" data-circle='["Hyperlapse", "Videography", "Timelapse", "Photography"]'>

						<div class="section-service-wrap x_padding" data-frames="/images/srv_c/" data-count="5">

							<div class="section-service-pin full_page">

								<div class="section-service-container full_page inner_padding f a-e">

									<div class="canvas_wrap">
										<canvas></canvas>
									</div>

									<div class="sides_set f a-e s-b">

										<div class="title_set _splitWrap">
											<h1 class="_splitWords">GROUND <br>SHOOTING</h1>
										</div>

										<div class="title_text _splitWrap">
											<p class="_splitLines">Our Ground Shooting Service provides a complete visual documentation solution, capturing every detail of your construction project with exceptional precision and creativity. From photography and videography to hyperlapse and timelapse, we deliver dynamic content that brings your project’s story to life.</p>
										</div>

									</div>

								</div>

							</div>
							
						</div>

					</section>
					{# GROUND SHOOTING End #}

					{# AERIAL SHOOTING Start #}
					<section data-end="0.23" data-circle='["Dronelapse", "3D scanning", "Drone videography", "FPV cinematography"]'>

						<div class="section-service-wrap x_padding" data-frames="/images/srv_d/" data-count="9">

							<div class="section-service-pin full_page">

								<div class="section-service-container full_page inner_padding f a-e">

									<div class="canvas_wrap">
										<canvas></canvas>
									</div>

									<div class="sides_set f a-e s-b">

										<div class="title_set _splitWrap">
											<h1 class="_splitWords">AERIAL <br>SHOOTING</h1>
										</div>

										<div class="title_text _splitWrap">
											<p class="_splitLines">Our Aerial Shooting Service takes construction documentation to the next level, offering stunning bird’s-eye perspectives with unparalleled detail and creativity. From drone photography and videography to dronelapse, FPV cinematography, and 3D scanning, we deliver innovative solutions that bring your projects to life from every angle.</p>
										</div>

									</div>

								</div>

							</div>
							
						</div>

					</section>
					{# AERIAL SHOOTING End #}

					{# 360 & VR Start #}
					<section data-end="0.24" data-circle='["Virtual tours", "Advanced software", "360 & VR", "Interactive experiences"]'>

						<div class="section-service-wrap x_padding" data-frames="/images/srv_e/" data-count="6">

							<div class="section-service-pin full_page">

								<div class="section-service-container full_page inner_padding f a-e">

									<div class="canvas_wrap">
										<canvas></canvas>
									</div>

									<div class="sides_set f a-e s-b">

										<div class="title_set _splitWrap">
											<h1 class="_splitWords">360 & VR</h1>
										</div>

										<div class="title_text _splitWrap">
											<p class="_splitLines">Our 360-degree still images, captured with precision by drones, are transformed into engagingand immersive virtual tours using advanced software. These tours go beyond static visuals, incorporating multimedia elements such as sound effects, music, narration, text, and interactive floor maps. The result is a rich, interactive experience that brings spaces to life, allowing viewers to explore and connect with projects like never before.</p>
										</div>

									</div>

								</div>

							</div>
							
						</div>

					</section>
					{# 360 & VR End #}

					{# STORYTELLING Start #}
					<section data-end="0.25" data-circle='["Books", "Magazines", "Crafted reports", "Engaging narratives"]'>

						<div class="section-service-wrap x_padding" data-frames="/images/srv_f/" data-count="7">

							<div class="section-service-pin full_page">

								<div class="section-service-container full_page inner_padding f a-e">

									<div class="canvas_wrap">
										<canvas></canvas>
									</div>

									<div class="sides_set f a-e s-b">

										<div class="title_set _splitWrap">
											<h1 class="_splitWords">STORYTELLING</h1>
										</div>

										<div class="title_text _splitWrap">
											<p class="_splitLines">Experience the journey through expertly crafted reports, magazines, and books that bring your projects to life. We transform milestones and achievements into visually stunning and immersive stories, combining progress tracking with creative storytelling. With our detailed visuals and engaging narratives, we ensure your project’s legacy is documented in a way that’s both memorable and impactful.</p>
										</div>

									</div>

								</div>

							</div>
							
						</div>

					</section>
					{# STORYTELLING End #}

					{# Cases Intro Start #}
					<section data-end="0.3" id="section-cases-intro" data-circle='["Roshn", "KSPF", "Green Riyadh", "Mawan Prime"]'>

						<div class="section-cases-intro-wrap sesqui x_padding basic_pin_wrap">

							<div class="section-cases-intro-pin full_page basic_pin">

								<div class="section-cases-intro-container full_page inner_padding f a-e">

									<div class="sides_set f a-e s-b">

										<div class="title_set f f-c _splitWrap">
											<p class="_splitWords">Case studies</p>
											<h1 class="_splitLines">We don’t just track <br>progress. We give it a voice.</h1>
										</div>
										
									</div>

								</div>

							</div>
							
						</div>

					</section>
					{# Cases Intro End #}

					{# Cases List Start #}
					<section data-end="0.4" id="section-cases">

						<div class="section-cases-wrap x_padding basic_pin_wrap open_list">

							<div class="list_pin_wrap f f-c full_bg tribble_height"></div>

							<div class="section-cases-pin full_page basic_pin">

								<div class="section-cases-container full_page inner_padding f a-e">

								<div class="sides_set f a-e s-b">

									<div class="title_wrap _splitWrap">
										<div class="title_set floating f f-c" id="case-1">
											<p class="_splitWords">Case studies</p>
											<h1 class="_splitWords">King <br>Salman <br>Park</h1>
										</div>
										<div class="title_set floating f f-c _splitWrap" id="case-2">
											<p>Case studies</p>
											<h1 class="_splitWords">Green <br>Riyadh</h1>
										</div>
										<div class="title_set floating f f-c _splitWrap" id="case-3">
											<p>Case studies</p>
											<h1 class="_splitWords">Roshn</h1>
										</div>
										<div class="title_set floating f f-c _splitWrap" id="case-4">
											<p>Case studies</p>
											<h1 class="_splitWords">Mawan <br>Prime</h1>
										</div>
									</div>
									
								</div>

							</div>
							
						</div>

					</section>
					{# Cases List End #}

					{# Team Intro Start #}
					<section data-end="0.42" id="section-team-intro">

						<div class="section-join-wrap sesqui x_padding basic_pin_wrap">

							<div class="section-join-pin full_page basic_pin">

								<div class="section-join-container full_page inner_padding f a-e">

									<div class="sides_set f a-e s-b">

										<div class="title_set _splitWrap">
											<p class="_splitWords">The team</p>
											<h1 class="_splitWords">We turn <br>construction sites <br>into narratives</h1>
										</div>
										
									</div>

								</div>

							</div>
							
						</div>

					</section>
					{# Team Intro End #}

					{# Team Members Start #}
					<section data-end="0.51" id="section-team">

						<div class="section-team-wrap x_padding basic_pin_wrap">

							<div class="section-team-pin full_page basic_pin">

								<div class="section-team-container full_page inner_padding f a-c">

									{# Member Start #}
									<div class="section_team_content f f-c a-s _eleWrap">
										<h2 class="desktop orange _eleY">IBRAHIM <br> ALANAZI</h2>
										<h2 class="mobile orange _eleY">IBRAHIM ALANAZI</h2>
										<h3 class="orange _eleY">CEO</h3>
										<p><a class="_underline _eleY" href="mailto:ibrahim@themina.sa" target="_blank">ibrahim@themina.sa</a></p>
										<div class="tm_info f f-c _splitWrap">
											<p class="_splitLines">Ibrahim is a graduate of King Fahad University, where he specialized in architecture. With a unique blend of architectural, construction, and graphical expertise, he brings a well-rounded perspective to every project. Ibrahim began his career as a project engineer at El Seif Construction Company, where he gained three years of hands-on experience managing complex construction projects, ensuring that all aspects were executed to the highest standards. His technical expertise and attention to detail allow him to efficiently address challenges in the construction process while maintaining design integrity.</p>
											<p class="_splitLines">Currently, as a Chief Executive Officer at Mina, Ibrahim plays a key role in overseeing the integration of architectural design, construction documentation, and project management. With his background in both design and construction, he ensures seamless collaboration between teams, driving projects forward with precision and innovation. His ability to blend technical knowledge with creative problem-solving provides Mina with a valuable asset in delivering high-quality results across all stages of project development.</p>
										</div>
									</div>									
									{# Member End #}

									{# Member Start #}
									<div class="section_team_content f f-c a-s">
										<h2 class="desktop orange">SULAIMAN <br> ALDAKHEEL</h2>
										<h2 class="mobile orange">SULAIMAN <br> ALDAKHEEL</h2>
										<h3 class="orange">Research & Development Director</h3>
										<p><a class="_underline" href="mailto:sulaiman@themina.sa" target="_blank">sulaiman@themina.sa</a></p>
										<div class="tm_info f f-c">
											<p>As the R&amp;D Director of Mina, Sulaiman is at the forefront of innovation in the technical and operational aspects of the company. With a deep understanding of the complexities involved, he ensures that Mina’s research and development efforts stay ahead of industry trends and technological advancements. His role bridges the gap between cutting-edge research and practical application, allowing Mina to tackle the most challenging elements of construction documentation.</p>
											<p>Sulaiman’s expertise goes beyond mere execution: he focuses on continuously refining processes by researching and integrating the latest information and tools. This ensures that Mina is always equipped to address the ever-evolving challenges of time and space variables in construction. Through his commitment to research and constant innovation, he ensures that Mina’s operational side maintains its technical excellence while adapting to emerging trends and needs in the field.</p>
										</div>
									</div>									
									{# Member End #}

									{# Member Start #}
									<div class="section_team_content f f-c a-s">
										<h2 class="desktop orange">SANDRO <br> ERCEG</h2>
										<h2 class="mobile orange">SANDRO ERCEG</h2>
										<h3 class="orange">Creative Production Director</h3>
										<p><a class="_underline" href="mailto:sandro@themina.sa" target="_blank">sandro@themina.sa</a></p>
										<div class="tm_info f f-c">
											<p>Sandro’s unique background blends advanced engineering research and boundary-pushing visual storytelling. With a PhD-level education in arctic ship design and over a decade of experience in filmmaking, he combines analytical thinking with a strong visual sensibility. Before joining Mina, he co-founded brotherside, a visual brand known for its viral social-first content and global collaborations with clients such as Adobe, Telefónica, Huawei, and Volkswagen. His work on international campaigns and events has reached millions and helped brands craft memorable visual experiences.</p>
											<p>As a Creative Production Director at Mina, Sandro leads the development of long-term creative documentation strategies for major construction and public space projects. He oversees concept development, production planning, and content execution across a range of formats: from drone paths and long-term timelapses to full-blown project films. With a focus on aligning narrative clarity with client goals, he works closely with Mina’s team of filmmakers, stakeholders, and clients to ensure each deliverable is both technically sound and visually compelling. His approach helps Mina deliver work that not only tracks progress, but builds lasting stories around it.</p>
										</div>
									</div>									
									{# Member End #}

									{# Member Start #}
									<div class="section_team_content f f-c a-s">
										<h2 class="desktop orange">STEPHANY <br> STEFAN</h2>
										<h2 class="mobile orange">STEPHANY STEFAN</h2>
										<h3 class="orange">Art director & Creative producer</h3>
										<p><a class="_underline" href="mailto:stephany@themina.sa" target="_blank">stephany@themina.sa</a></p>
										<div class="tm_info f f-c">
											<p>As the Art Director and Creative Producer at Mina, Stephany shapes the visual and narrative identity of the brand while collaborating closely with Mina’s clients to ensure their stories are told with clarity and impact. She leads the creative process from concept to execution, making sure every image, frame, and design powerfully documents progress and legacy.</p>
											<p>With a degree in Visual Arts and over 12 years of experience in the field, she brings collaborative spirit and strong production expertise to every project, along with emotional depth. Her background spans the private sector, the cultural sector, and production companies, as well as founding and running her own photography studio.</p>
											<p>Stephany’s work connects artistic vision with strategic communication, translating documentation into compelling visual content that resonates with audiences and stakeholders alike. Her role goes beyond aesthetics. She crafts visuals that align Mina’s purpose and its clients’ ambitions with their public presence, building brands that are as inspiring as they are reliable. Through her leadership, Mina becomes not only a recorder of history, but a storyteller of transformation.</p>
										</div>
									</div>									
									{# Member End #}

									{# Member Start #}
									<div class="section_team_content f f-c a-s">
										<h2 class="desktop orange">HISHAM <br> KUTBI</h2>
										<h2 class="mobile orange">HISHAM KUTBI</h2>
										<h3 class="orange">Sr. Business Development</h3>
										<p><a class="_underline" href="mailto:hisham@themina.sa" target="_blank">hisham@themina.sa</a></p>
										<div class="tm_info f f-c">
											<p>As Senior Business Development Specialist at Mina, Hisham Kutbi combines architectural insight with strategic growth expertise to drive Mina’s expansion across Saudi Arabia’s most ambitious projects. With a bachelor’s degree in Architecture from KFUPM and four years of experience spanning project management, engineering consulting, and business development, he brings a unique ability to connect vision, value, and relationships.</p>
											<p>Hisham has played key roles in managing high-profile projects, including DGCL, KSPF, Green Riyadh, and ROSHN Group initiatives. His experience includes building partnerships with international clients and cultivating new ventures aligned with national transformation goals. At Mina, he leads engagement with giga and mega projects, ensuring that Mina’s services align with the evolving needs of the industry and its stakeholders.</p>
										</div>
									</div>									
									{# Member End #}

									{# Member Start #}
									<div class="section_team_content f f-c a-s">
										<h2 class="desktop orange">BORIS <br> ERCEG</h2>
										<h2 class="mobile orange">BORIS ERCEG</h2>
										<h3 class="orange">Production Lead</h3>
										<p><a class="_underline" href="mailto:boris@themina.sa" target="_blank">boris@themina.sa</a></p>
										<div class="tm_info f f-c">
											<p>Boris is a dynamic filmmaker renowned for pioneering next-level brand visuals, with a strong focus on social media. His expertise spans advanced camera and editing techniques, with particular emphasis on long-term cinematic methods such as hyperlapse, timelapse, and repeatable drone paths—solutions designed to captivate audiences and visually chronicle progress.</p>
											<p>As the co-founder of Brotherside, he brings over a decade of immersive filmmaking experience, having co-led major campaigns for global brands including Montblanc, Telefonica, Huawei, Adobe, Royal Enfield, and leading European marketing agencies. His innovative content has amassed millions of social media impressions and has frequently gone viral across digital platforms.</p>
											<p>With a unique combination of an engineering background and a strong creative vision, he systematically approaches the construction process, crafting work that is both technically robust and artistically compelling. In his current role as Production Lead at Mina, he oversees the entire production process, with special focus on implementing long-term filming techniques. He collaborates closely with team members on concept development, planning, and execution to deliver visually impactful content aligned with clients’ unique needs.</p>
										</div>
									</div>									
									{# Member End #}

									{# Member Start #}
									<div class="section_team_content f f-c a-s">
										<h2 class="desktop orange">ABDULLAH <br> ALSHAHRANI</h2>
										<h2 class="mobile orange">ABDULLAH ALSHAHRANI</h2>
										<h3 class="orange">Operations Manager</h3>
										<p><a class="_underline" href="mailto:abdullah@themina.sa" target="_blank">abdullah@themina.sa</a></p>
										<div class="tm_info f f-c">
											<p>As Operations Manager at Mina, Abdullah Alshahrani plays a central role in aligning creative vision with logistical execution. With a bachelor’s degree in Advertising and Marketing Communication and three years of experience in operations, he brings a rare ability to coordinate complex workflows while understanding the communication goals behind every project.</p>
											<p>Abdullah manages site logistics, team deployment, and resource planning across Mina’s nationwide documentation efforts. His work ensures consistency, safety, and performance across every touchpoint. Through his structured yet flexible approach, Abdullah reinforces Mina’s ability to scale with precision and deliver quality without compromise.</p>
										</div>
									</div>									
									{# Member End #}

									{# Member Start #}
									<div class="section_team_content f f-c a-s">
										<h2 class="desktop orange">AHMED <br> ALABSE</h2>
										<h2 class="mobile orange">AHMED ALABSE</h2>
										<h3 class="orange">Operations & Maintenance Supervisor</h3>
										<p><a class="_underline" href="mailto:ahmed@themina.sa" target="_blank">ahmed@themina.sa</a></p>
										<div class="tm_info f f-c">
											<p>As Operations &amp; Maintenance Supervisor, Ahmed Alabse brings technical expertise and practical problem-solving to the heart of Mina’s daily operations. With a diploma in Electrical Engineering and four years of experience in equipment and site maintenance, Ahmed ensures that Mina’s tools and systems operate reliably across all conditions.</p>
											<p>Ahmed plays a vital role in maintaining Mina’s specialized documentation setups, including long-term time-lapse systems, remote infrastructure, and drone support stations. His focus on preventative maintenance and rapid response enables the team to function without interruption, supporting Mina’s standards of operational excellence.</p>
										</div>
									</div>									
									{# Member End #}

									{# Member Start #}
									<div class="section_team_content f f-c a-s">
										<h2 class="desktop orange">SAEED <br> OBAID</h2>
										<h2 class="mobile orange">SAEED OBAID</h2>
										<h3 class="orange">Operations & Maintenance Specialist</h3>
										<p><a class="_underline" href="mailto:saeed@themina.sa" target="_blank">saeed@themina.sa</a></p>
										<div class="tm_info f f-c">
											<p>With a background in Public Relations and Marketing Communication, and three years of hands-on operational experience, Saeed Obaid brings both technical efficiency and communication fluency to his role at Mina.</p>
											<p>As an Operations &amp; Maintenance Specialist, Saeed ensures Mina’s ground operations run smoothly: from equipment setup and monitoring to on-site support and troubleshooting. His combined understanding of field logistics and communication workflows helps ensure that every documentation activity stays aligned with project goals and timelines.</p>
										</div>
									</div>									
									{# Member End #}

									{# Member Start #}
									<div class="section_team_content f f-c a-s">
										<h2 class="desktop orange">IVAN <br> SARDI</h2>
										<h2 class="mobile orange">IVAN SARDI</h2>
										<h3 class="orange">Video Content Creator</h3>
										<p><a class="_underline" href="mailto:ivan@themina.sa" target="_blank">ivan@themina.sa</a></p>
										<div class="tm_info f f-c">
											<p>Ivan’s work bridges emotional storytelling with structured visual production, combining artistic intuition with logistical precision. With a background in media and a decade of experience spanning filmmaking, photography, and content direction, Ivan brings a unique blend of sensitivity and discipline to every project. Before joining Mina, he built a diverse portfolio of documentary work, brand campaigns, and poetic visual pieces, often centered on themes of identity, place, and transformation.</p>
											<p>As Video Creator at Mina, Ivan plays a key role in shaping the visual identity of long-term documentation projects across public spaces and infrastructure. He works across all stages of production: from conceptual development and on-site execution to final editing, ensuring that every frame supports a deeper narrative. Whether he’s coordinating complex drone shoots, directing emotionally resonant interviews, or crafting atmospheric time-lapses, Ivan brings a sharp eye for detail and a commitment to meaning-driven storytelling.</p>
											<p>His approach helps Mina not just document projects, but imbue them with soul, turning raw progress into visual stories that resonate far beyond the construction site.</p>
										</div>
									</div>									
									{# Member End #}

									{# Member Start #}
									<div class="section_team_content f f-c a-s">
										<h2 class="desktop orange">ABDULMALIK <br> ALJAMMAZ</h2>
										<h2 class="mobile orange">ABDULMALIK ALJAMMAZ</h2>
										<h3 class="orange">Drone operator</h3>
										<p><a class="_underline" href="mailto:abdulmalik@themina.sa" target="_blank">abdulmalik@themina.sa</a></p>
										<div class="tm_info f f-c">
											<p>Abdulmalik Aljammaz is a drone operator with four years of experience capturing complex construction environments from the sky. His ability to pilot with precision, even in challenging conditions, allows Mina to consistently deliver high-impact aerial content: from real-time tracking to cinematic project films.</p>
											<p>Abdulmalik supports a wide range of aerial documentation efforts, including dronelapse sequences, FPV flights, 2D and 3D mapping, and repeatable flight paths for progress monitoring. His technical skills and eye for composition help transform construction data into powerful visual stories.</p>
										</div>
									</div>									
									{# Member End #}

								</div>

								<div class="team_ft f a-e s-b">

									<div class="team_counters f a-c j-c">
										<div class="team_counter_set">
											<div class="team_counter_animation f f-c a-e">
												<div class="team_num"><h3>01</h3></div>
												<div class="team_num"><h3>02</h3></div>
												<div class="team_num"><h3>03</h3></div>
												<div class="team_num"><h3>04</h3></div>
												<div class="team_num"><h3>05</h3></div>
												<div class="team_num"><h3>06</h3></div>
												<div class="team_num"><h3>07</h3></div>
												<div class="team_num"><h3>08</h3></div>
												<div class="team_num"><h3>09</h3></div>
												<div class="team_num"><h3>10</h3></div>
												<div class="team_num"><h3>11</h3></div>
											</div>
										</div>
										<h3>/11</h3>
									</div>

									<span class="interactive_label pointer scrollTo" data-scroll="join">
										<span class="_txt words label">Skip team presentation</span>
									</span>

									<div class="scroll_button f a-c j-c pointer scrollTo" data-scroll="join">
										<i class="full_bg magnet" data-dist="1.5"></i>
										<svg xmlns="http://www.w3.org/2000/svg" width="25" height="15" fill="none" viewBox="0 0 25 15"><path fill="#fff" d="M12.43 10.094 3.133.798a1.35 1.35 0 0 0-.96-.397c-.365 0-.706.141-.962.397l-.814.815a1.35 1.35 0 0 0-.397.96c0 .365.141.706.397.962l11.069 11.069c.256.256.599.397.964.396.366.001.708-.14.965-.396L24.453 3.545c.256-.255.397-.597.397-.961s-.141-.705-.398-.961l-.814-.815a1.36 1.36 0 0 0-1.922 0z"/><path stroke="#fff" stroke-opacity=".2" d="M.5 2.574a.85.85 0 0 1 .25-.607l.815-.816a.85.85 0 0 1 .608-.25c.232 0 .446.09.606.25h.001l9.296 9.297.354.354 9.64-9.64a.86.86 0 0 1 1.215 0l.814.815a.85.85 0 0 1 .25.607.85.85 0 0 1-.25.607L13.04 14.25a.85.85 0 0 1-.61.25h-.003a.85.85 0 0 1-.609-.25L.75 3.18a.85.85 0 0 1-.25-.606Z"/></svg>
									</div>

								</div>

							</div>

						</div>

					</section>
					{# Team Members End #}

					{# Join Start #}
					<section data-end="0.65" id="section-join" data-circle='["Innovation", "Inspiration", "Collaboration", "Legacy"]'>

						<div class="section-join-wrap double_height x_padding basic_pin_wrap" id="join">

							<div class="section-join-pin full_page basic_pin">

								<div class="section-join-container full_page inner_padding f a-e">

									<div class="sides_set f a-e s-b">

										<div class="title_wrap f f-c a-s _move">

											<div class="title_set _splitWrap">
												<h1 class="_splitLines">Join us in innovating at the <br>crossroads of technology <br>and creativity</h1>
											</div>

											<div class="site_button f a-c j-c scrollTo interactive_label" data-scroll="end">
												<i class="dot"></i>
												<span class="label _txt words">CONTACT</span>
											</div>

										</div>

										<div class="title_text _splitWrap">
											<p class="_splitLines">Become part of Mina, where every project is an opportunity to innovate, collaborate, and inspire. Together, we document today’s achievements to shape tomorrow’s legacy.</p>
										</div>

									</div>

								</div>

							</div>
							
						</div>

					</section>
					{# Join End #}

					{# Contact Start #}
					<section data-end="1" id="section-invest" data-circle='["PRESENT", "PAST", "FUTURE", "MINA"]'>

						<div class="section-contact-wrap x_padding" id="contact">

							<div class="section-contact-pin full_page">

								<div class="section-contact-container full_page inner_padding f a-e">

									<div class="sides_set f a-e s-b">

										<div class="title_wrap f f-c a-s _move">
											<div class="title_set">
												<h1 class="_hide">Invest in <br>Documenting <br>Tomorrow’s Legacy</h1>
												<h1 class="_show">Contact us, <br>and let’s start <br>shaping your legacy</h1>
											</div>
											<div class="site_button f a-c j-c _fadeOut scrollTo interactive_label" data-scroll="end">
												<i class="dot"></i>
												<span class="label _txt words">REACH OUT</span>
											</div>
										</div>

										<div class="title_text _fadeOut">
											<p>By investing in Mina, you’re not just supporting a company. You’re backing the preservation of progress, innovation, and the stories that define our era. Together, we can turn today’s achievements into lasting legacies that inspire generations to come.</p>
										</div>

									</div>

									<div class="info_set f f-c">

										<div class="info_block f f-c a-s">
											<a href="callto:00966500764700" class="_underline" target="_top" aria-label="Phone">
												<strong>
													<small>+966 50 076 4700</small>
												</strong>
											</a>
											<a href="mailto:info@themina.sa" class="_underline" target="_top" aria-label="Email">
												<strong>
													<small>info@themina.sa</small>
												</strong>
											</a>
										</div>

										<i></i>

										<div class="info_block f f-c">
											<a href="https://maps.app.goo.gl/GNNVK9uh6f8q9We17" target="_blank" aria-label="Location">
												<small class="high">Jawhar AlMina for Information Technology, <br>View Square, 2nd floor, office 31, Abo Baker Rd, <br>Riyadh, Saudi Arabia</small>
											</a>
										</div>

									</div>

								</div>

								<footer>
									<div class="ft_set f a-c s-b x_padding">
										<div class="smaller">MINA © all rights reserved 2025</div>
										<div class="smaller">
											<a href="#" class="_underline" target="_blank">Privacy Policy</a>
										</div>
									</div>
								</footer>

							</div>

						</div>

					</section>
					{# Contact End #}

				</main>

			</div>

		</div>

	</body>

</html>